<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>Data Loader Interface</h1>
        <form action="/load-data/" method="post">
            <label for="loader_type">Choose the data loader:</label>
            <select name="loader_type" id="loader_type">
                <option value="snowflake">Snowflake</option>
                <option value="motherduck">MotherDuck</option>
            </select>
            <br><br>
            <label for="data_type">Choose the data type:</label>
            <select name="data_type" id="data_type">
                <option value="news">News</option>
                <option value="bitcoin">Bitcoin</option>
            </select>
            <br><br>
            <button type="submit">Load Data</button>
        </form>
        {% if result %}
        <h2>Result:</h2>
        <pre>{{ result }}</pre>
        {% endif %}
    </div>
    <div class="iframe-container">
        <iframe src="http://0.0.0.0:5000" title="Airflow UI"></iframe>
    </div>
    <div class="iframe-container">
        <iframe src="http://0.0.0.0:8080" title="Redpanda Console"></iframe>
    </div>
</body>
</html>
