<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <nav>
            <ul class="nav-menu">
                <li><a href="/">Home</a></li>
                <li><a href="/motherduck">MotherDuck</a></li>
                <li><a href="/solarwinds">SolarWinds</a></li>
            </ul>
        </nav>
        <h1>Data Pipeline Monitoring Interface</h1>
        <form>
            <label for="loader_type">Choose the data loader:</label>
            <select name="loader_type" id="loader_type">
                <option value="snowflake">Snowflake</option>
                <option value="motherduck">MotherDuck</option>
            </select>
            <br><br>
            <button>Update DataWarehouse (Coming Soon)</button>
        </form>
        {% if result %}
        <h2>Result:</h2>
        <pre>{{ result }}</pre>
        {% endif %}
    </div>
    <div class="iframe-container">
        <iframe src="http://0.0.0.0:5000" title="Airflow UI"></iframe>
    </div>
    <div class="iframe-container">
        <iframe src="http://0.0.0.0:8080" title="Redpanda Console"></iframe>
    </div>
</body>
</html>
